body, html{
 margin: 0px;
 padding: 0px;
 text-align: center;
 font-size: 12pt;
 color: #444444;
 
/* background-image: url(/img/bgline.jpg);*/
 background-repeat: repeat-y;           
}

#elTimer {
 font-size: 14pt;
 font-weight: bold;
 color: #000000;
}

.clTDGrayBorder {
 border-width: 1px;
 border-color: #f0f0f0;
 border-style: solid;
}

.clAssignOrder {
 font-size: 12pt;
}

.clTDLiteGray {
 border-width: 1px;
 border-color: #f0f0f0;
 border-style: solid;
}
.clAgane{
 font-size: 14pt;
 font-weight: bold;
 color: #ff0000;
}
.clAganeContinue{
 font-size: 14pt;
 font-weight: bold;

 color: #ff0000;
}
.clTestNormal{
 font-size: 14pt;
 font-weight: bold;

}
.clTestContinue{
 font-size: 14pt;
 font-weight: bold;
 color: #ff3333;
}



.clTitle1 {
 font-size: 42pt;
 color: #ffffff;
 padding-top: 50px;
}
.clTitle2 {
 font-size: 18pt;
 color: #eeeeee;
}

.clTitle3 {
 font-size: 16pt;
 color: #ff90ff;
}

.clQstNumber {
 font-size: 24pt;
 background-color: #f0f0f0;
}


.clTDRasp {
 border-bottom-color: #d0d0d0;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-right-color: #d0d0d0;
 border-right-style: solid;
 border-right-width: 1px;
}

.clInfoBox {
/* background-color: #dee9f2;*/
 font-size: 12pt;
/* color: #000000;*/
 border-color: #dee9f2;
 border-width: 1px;
 border-style: solid;
}

.clLogo {
 font-size: 57pt;
 font-weight: bold;
 color: #ffffff;
}
.clCheckBox {
 font-size: 12pt;
 padding-left: 20pt;
}
.clCheckBoxValid {
 font-size: 12pt;
 padding-left: 20pt;
 color: #22aa22;
 background-color: #ffe0e0;
}
.clCheckBoxInvalid {
 font-size: 12pt;
 padding-left: 20pt;
 color: #00ff00;
 background-color: #ff0000;
}


.clQuest {
/* padding-top: 14pt;*/
 font-size: 14pt;
 vertical-align: baseline;
}

.clImgBorder {
 border-style: solid;
 border-width: 1px;
 border-color: #e0e0e0;
 padding: 2px;
}

.clError {
 background-color: #ffe0e0;
}

.clOK {
 background-color: #ffffff;
}

.clOK:hover {
 background-color: #f0f0f0;
}

#clContainer {
/* w_idth: expression( (document.compactMode && document.compactMode='CSSlCompact')?(document.documentElement.clientWidth < 1000)?"1000px":"auto"):(document.body.clientWidth < 1000?"1000pc":"auto"));*/
 width: 100%;
/* margin: 0 auto;*/
 text-align: left;
}

#clTop {
 float: top;
 background-color: #f0f0f0; 
 background-image: url(/img/bg7.jpg);
 background-position: 0px;
 border-bottom-color: #4f81bd;
 border-bottom-style: solid;
 border-bottom-width: 2px;
 clear: both;
 height: 172px;
 margin: 0 auto;
 padding-left: 10px;
 vertical-align: bottom;
 text-align: left;
 width: 1980px;
}


#clContent {
 text-align: left;
 width: 980px;
 
 /* margin: 0 auto;*/
 b_order-color: #e0e090;
 b_order-style: solid;
 b_ackground-color: #9090f0;
/* background-color: white;*/

/* background-color: #ffffff;*/
}

#loginform {
 position: relative;
 margin: 100px auto;
 b_order-color: #e0e0e0;
 b_order-style: solid;
 text-align: center;
}

#colLeft {
 position: relative;
 float: left;
 width: 300px;
 left: 0px;
 b_ackground-color: red;
}

.colWidth {
 padding-left: 10px;
}

.colLeft2 {
 position: relative;
 float: left;
 width: 720px;
 left: 0px;
/* border-right-color: #4f81bd;
 border-right-style: solid;
 border-right-width: 2px;
*/
 c_lear: both;
 b_ackground-color: red;
}

#colMiddle {
 position: relative;
 float: left;
 width: 300px;
 left: 50px;
 b_ackground-color: green;
}

#colRight {
 position: relative;
 width: 250px;
 float: right;
 right: 0px;
 b_ackground-color: blue;
}

.clTopic {
 w_idth: 300px;
 border-color: #e0e0e0;
 b_order-style: solid;
 border-width: 1px;
 margin-top: 20px;
 padding: 10px;
 b_ackground-color: #f0f0f0;
}

.clAttention {
 color: red;
 font-weight: bold;
}


.clMiddle {
 vertical-align: middle; 
 color: #ffffff;
}

h1{
 font-size: 14pt;
 margin-bottom: 5;
}

td{
 font-size: 10pt;
 font-family: Arial,Helvetica,sans-serif;
}

input {
 font-size: 8pt;
}

input.input_authorize{
	width: 120px
}

#dv_main {
	 width: 1000px;
	 margin: 0 auto;
}

#dv_conteiner {
}


#dv_footer {
	 background-color: #ffffff;
	 width: 100%;
}

#dv_header {
	 top: 0%;
	 background-color: #f0f0f0;
	 border-bottom-style: solid;
	 border-bottom-color: #e0e0e0;
	 border-bottom-width: 1px;
}

.clInfo {
	 w_idth: 1000px;
	 border-style: solid;
	 border-color: #e0e0e0;
	 border-width: 4px;
	 background-color: #f0f0f0;
	 b_ackground-image: url(/img/information.png);
	 b_ackground-repeat: no-repeat;
	 clear: both;
}

.clInfoRed {
	 w_idth: 1000px;
	 border-style: solid;
	 border-color: #ffd0d0;
	 border-width: 4px;
	 background-color: #ffe0e0;
	 b_ackground-image: url(/img/information.png);
	 b_ackground-repeat: no-repeat;
	 clear: both;
}

.clInfoGreen {
	 w_idth: 1000px;
	 border-style: solid;
	 border-color: #e0ffe0;
	 border-width: 4px;
	 background-color: #d0ffd0;
	 b_ackground-image: url(/img/information.png);
	 b_ackground-repeat: no-repeat;
	 clear: both;
}

.clError {
	 w_idth: 1000px;
	 border-style: solid;
	 border-color: #ffd0d0;
	 border-width: 4px;
	 background-color: #ffe0e0;
	 clear: both;
	 margin-top: 10px;
}

.hline
{
 font-size: 11pt;
 font-weight: bold;
 color: #333333;
 width: 100%;
 display: block;
 border-bottom-style: double;
 border-bottom-color: #decd9e;
}

.clTimeLine {
 border-bottom-color: #d6e8fc;
 border-bottom-style: solid;
 border-top-color: #d6e8fc;
 border-top-style: solid;
 border-width: 1px;
 display: block;
 background-color: #ecf5fd;
 padding-top: 5px;
 padding-bottom: 5px;
}

p{
  margin-top: 3pt;
  margin: 10px;
  text-indent: 2em;
  text-align: justify;
}

p:first-letter{
  color: #333333;
  font-weight: bold;
  font-size: 100%
}


#round {
background-color: #f5f5f5;
border: 1px solid #000;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.NFCheck_off {
	cursor:pointer; 
	position:absolute; 
	height:24px; 
	border:0px solid transparent; 
	background:url(img/checkbox_off.png) no-repeat 0 0; 
	z-index:2;
	font-style: clear;
}
.NFCheck_on {
	cursor:pointer; 
	position:absolute; 
	height:24px; 
	border-style: clear;
	background:url(img/checkbox_on.png) no-repeat 0 0; 
	z-index:2;
}

.NFLabel {
 	margin-left: 24px;
}


#mycheck{

}

a {
	color: blue;
	text-decoration: none;
}


a:hover {	
	color: blue;
 	text-decoration: underline;
}

a:visited {
 color: blue;
}

h1{
 font-size: 16pt;
}

h2{
 font-size: 14pt;
}


.clBorder{
 border-width: 1px;
 border-color: #e0e0ff;
 border-style: solid;
}

table,td,tr,input {
border-collapse: collapse;
 font-size: 10pt;
}


.clSilver {
 background-color: #f0f0f0;
}

.tdradio {
 width: 70px;
 text-align: center;
 border-width: 0px;
}

.clHeader {
 font-size: 16pt;
 font-weight: bold;
 color: #29755f;
/* border-bottom-width: 1px;
 border-bottom-color: #29755f;
 border-bottom-style: solid;*/
 display: block;
 margin-top: 1pt;
}

.clHeader2 {
 font-size: 13pt;
 font-weight: bold;
 color: #29755f;
 display: block;
 margin-top: 10pt;
}

.clHeader3 {
 font-size: 12pt;
 font-weight: bold;
 font-style: italic;
 color: #29755f;
 display: block;
 margin-top: 1pt;
}

.clDiscTable {
 border-style: solid;
 border-width: 2px;
 border-color: #e0e0e0;
 padding: 0px;
 margin: 0px;
}

.clHide {
 visibility: hidden;
 background-color: #ff0000;
}

.clrdbutton {
 d_isplay: block;
}

.colLeftMiddle {
	 width: 600px;
	 clear: both;
}

.tdquestion {
 font-size: 11pt;
}

.clDiscRow {
 font-size: 14pt;
}

.clImg {
 border-color: #e0e0e0;
 border-style: solid;
 border-width: 1px;
 margin: 2px;
 padding: 2px;
}

.clWhite {
 background-color: #ffffff;
}

.clGray {
 background-color: #f0f0f0;
}

.clTableHeader {
 font-weight: bold;
 text-align: center;
}

.clTableTD {
 border-left-color: #d0d0d0;
 border-left-style: solid;
 border-left-width: 1px;
 border-right-color: #d0d0d0;
 border-right-style: solid;
 border-right-width: 1px;
 text-align: center;
}

.clTableTR {
 border-bottom-color: #d0d0d0;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-top-color: #d0d0d0;
 border-top-style: solid;
 border-top-width: 1px;
}

.clTableTD1 {
 border-left-color: #d0d0d0;
 border-left-style: solid;
 border-left-width: 1px;
 border-right-color: #d0d0d0;
 border-right-style: solid;
 border-right-width: 1px;
}

.clVistaSelect {
 height: 18px;
 padding-left: 25px;
 width: 295px;
 font-size: 10pt;
 vertical-align: middle;
}

.clVistaSelect:hover {
 background-image: url("/img/select_18.jpg");
 background-repeat: no-repeat;
 height: 18px;
 padding-left: 25px;
 vertical-align: middle;
}

.clTableHeader {
 background-image: url("/img/w7team/tr22.jpg");
 background-repeat: repeat-x;
 background-color: #cddaea;
 height: 22px;
}

.clTableHeaderLeft {
 background-image: url("/img/w7team/tr22.jpg");
 background-repeat: repeat-x;
 background-color: #cddaea;
 height: 22px;
}

.clTableHeader30 {
 background-image: url("/img/w7team/tr30.jpg");
 background-repeat: repeat-x;
 height: 30px;
 background-color: #cddaea;
}


.clb0
{
 background-image: url(/img/btt/bz.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clb1
{
 background-image: url(/img/btt/b1.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb2
{
 background-image: url(/img/btt/b2.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb3
{
 background-image: url(/img/btt/b3.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb4
{
 background-image: url(/img/btt/b4.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb5
{
 background-image: url(/img/btt/b5.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb6
{
 background-image: url(/img/btt/b6.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb7
{
 background-image: url(/img/btt/b7.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb8
{
 background-image: url(/img/btt/b8.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clb9
{
 background-image: url(/img/btt/b9.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clr0
{
 background-image: url(/img/btt/rz.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clr1
{
 background-image: url(/img/btt/r1.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
 vertical-align: middle;
}

.clr2
{
 background-image: url(/img/btt/r2.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr3
{
 background-image: url(/img/btt/r3.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr4
{
 background-image: url(/img/btt/r4.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr5
{
 background-image: url(/img/btt/r5.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr6
{
 background-image: url(/img/btt/r6.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr7
{
 background-image: url(/img/btt/r7.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr8
{
 background-image: url(/img/btt/r8.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr9
{
 background-image: url(/img/btt/r9.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clr0
{
 background-image: url(/img/btt/gz.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg1
{
 background-image: url(/img/btt/g1.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg2
{
 background-image: url(/img/btt/g2.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg3
{
 background-image: url(/img/btt/g3.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg4
{
 background-image: url(/img/btt/g4.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg5
{
 background-image: url(/img/btt/g5.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg6
{
 background-image: url(/img/btt/g6.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg7
{
 background-image: url(/img/btt/g7.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg8
{
 background-image: url(/img/btt/g8.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}

.clg9
{
 background-image: url(/img/btt/g9.png);
 background-repeat: no-repeat;
 padding-left: 30px;
 height: 24px;
 left: 10px;
}
